
.wheel{
    animation: scroll 2s ease infinite;
}
@keyframes scroll {
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(3.75rem);
    }
    
}

.home__scroll-name {
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow {
    font-size: 1.25rem;
    color: var(--title-color)
}


@media screen and (max-width: 992px) {
    .home__scroll{
        margin-left: 7.5rem;
   }

}