@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karla:ital,wght@0,300;1,200&family=Montserrat:wght@200;600&family=Poppins:wght@200&family=Roboto:wght@300;400&family=Ubuntu:wght@300;500&family=Work+Sans:wght@300&display=swap');

.eventPageContainer{
   
    background-color:#060b1a ;
    width: 100%;
    min-height: 100vh;
    position: relative;
    top: 20px;
    
}
.eventPageContainer h1{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 2.6rem;
    font-weight: 800;
    top: 100px;
}
.logoSpan{
    color: #915eff;
    font-weight: bold;
}
.containerPast {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.containerPresent{
    
    width: 80%;
    margin: 0 auto;
    display: flex;
    /* flex-direction:row; */
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 17px;
    flex-wrap: wrap;

}
.containerPresent img{
    width: 35%;
    height: 500px;
    border-radius: 10px;
    

}
.containerPresent h1{
   font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 2.6rem;
    font-weight: 800;
}
.presentHeading{
    color: #fff;
}
.contentPresent{
    max-width: 600px;
    color: #fff;
    
}
.contentPresent p{
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    
}
.headingContainer{
    max-width: 600px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}
.headingContainer p{
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}
.details{
    font-weight: bold;
    font-size: 23px;
}
.note{
    font-style: italic;
}
.presentBtn{
    height: 2.7rem;
    width: 7.5rem;
    padding: 5px;
    border-radius: 10px;
    font-size: 1rem;
   font-family: 'Ubuntu', sans-serif;
    background-color: #915eff;
    color: #fff;
    background-color: #915eff;
    font-weight: 500;
    transition: 0.3s ease-in;
    margin-top: 20px;
    border: none;


}
.presentBtn:hover{
    background-color: #fff;
    color: #915eff;
    transition: 0.3s ease-in;


}
.eventdivformap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
}


@media (max-width:1100px) {
    .containerPresent img {
    width: 50%;
    height: 531px;
    border-radius: 10px;
}
}
@media (max-width:985px) {
    .containerPresent img {
    width: 50%;
    height: 471px;
    border-radius: 10px;
}
}
@media (max-width:785px) {
    .containerPresent img {
    width: 320px;
    height: 421px;
    border-radius: 10px;
}
}
@media (max-width:456px) {
    .containerPresent img {
    width: 300px;
    height: 401px;
    border-radius: 10px;
}
}
@media (max-width:374px) {
    .containerPresent img {
    width: 260px;
    height: 360px;
    border-radius: 10px;
}
}
@media (max-width:374px) {
    .containerPresent img {
    width: 230px;
    height: 330px;
    border-radius: 10px;
}
}