.confetti-container {
  opacity: 0;
  transition: opacity 10s ease-in-out;
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.confetti-container.show {
  opacity: 1;
}

.confetti-container.hide {
  pointer-events: none;
}
