@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* *{
  margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins',sans-serif;
} */

.body5{
 display: flex;
 height: 100vh;
 justify-content: center;
 align-items: center;
 padding: 10px;
 background:transparent;

}
.containerr{
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  margin-top: 450px;
}  
.containerr .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.containerr .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background:linear-gradient(135deg, #71b7e6, #9b59b6);
}
.containerr .form2 .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.form2 .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
 .user-details .input-box input:valid{
  border-color:#9b59b6;
 }
 .form2 .domain-details .domain-title{
  font-size: 20px;
  font-weight: 500;
 }
 .form2 .domain-details .category{
  /* display: flex; */
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
 }

 .domain-details .category label{
  display: flex;
  align-items: center;
 }
 .domain-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  #dot-1:checked ~ .category label .one,
  #dot-2:checked ~ .category label .two,
  #dot-3:checked ~ .category label .three,
  #dot-4:checked ~ .category label .four,
  #dot-5:checked ~ .category label .five,
  #dot-6:checked ~ .category label .six,
  #dot-7:checked ~ .category label .seven,
  #dot-8:checked ~ .category label .eight,
  #dot-9:checked ~ .category label .nine {
    border-color: #d9d9d9;
    background: #9b59b6;
  }

.form2 input[type="radio"]{
  display: none;
 }

 .form2 .button{
  height: 45px;
  margin: 45px e;
 }
.form2 .button input{
 height: 100%;
 width: 100%;
 outline: none;
 color:#fff;
border: none;
font-size: 18px;
font-weight: 500;
border-radius: 5px;
letter-spacing: 1px;
background: linear-gradient(135deg,#71b7e6,  #9b59b6);
cursor: pointer;
}

.form2 .button input:hover{
  background: linear-gradient(-135deg,#71b7e6,  #9b59b6)
  
}

@media (max-width: 584px) {
  .containerr{
   max-width: 100%;
   margin-top: 350px;
 }
 .form2 .user-details .input-box{
  margin-bottom: 15px;
  width: 100%;
 }
 .form2 .domain-details .category{
  width: 100%;
 }
 .containerr .form2 .user-details{
   max-height: 300px;
   overflow-y: scroll;
 }
 .user-details::-webkit-scrollbar{
  width: 0;
 }
}